#header_bloc {
	background-color:#e5e8e8;
	padding:8px;}

#logo_bloc {
	float:left;}

#account_bloc {
	float:right;}

img.logo {
	display:inline;
	height:100px;
	width:499px;}

button[type="button"] {
	font-size:16pt;
	height:30px;
	width:100px;
	margin-top:10px;
	margin-bottom:5px;}
