ul {
	list-style-type: none;
	font-family:Helvetica;
	margin: 0;
	padding: 0;
	overflow: hidden;}

#left {
	float:left;}

#right {
	float:right;
}

#bar {
	background-color:#000000;}

li {
	float: left;}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration:none;}

li a:hover {
	background-color: #333333;}
